@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #252525;
  --background: #f2f2f2;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  background: var(--background)
} */

body {
  color: var(--text);
  background: var(--background)
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dnd > .wb {
  @apply opacity-0 transition-all ease-in-out duration-500
}

.dnd:hover > .wb {
  @apply opacity-100 transition-all ease-in-out duration-500
}

.dnd > .bg-black {
  @apply opacity-25 transition-all ease-in-out duration-500
}

.dnd:hover > .bg-black{
  @apply opacity-70 transition-all ease-in-out duration-500
}

.dnd > .text{
  @apply opacity-0 transition-all ease-in-out duration-500 text-center text-xs
}

.dnd:hover > .text {
  @apply opacity-100 cursor-pointer text-white lg:text-lg font-bold transition-all
}

.dnd:hover > .text > span {
  @apply opacity-100 cursor-pointer text-white lg:text-xs text-center font-bold transition-all
}

.selected-banner {
  @apply absolute top-0 opacity-0 items-center w-full h-full
}

.selected-banner:hover {
  @apply flex bg-black/30 opacity-100 justify-around transition duration-300 ease-in-out
}

.selected-banner:hover > div {
  @apply text-white font-semibold text-2xl transition duration-300 ease-in-out
}

.selected-banner:hover > div:hover:first-child {
  @apply text-white text-3xl cursor-pointer transition duration-300 ease-in-out
}

.selected-banner:hover > div:hover:last-child {
  @apply text-white text-3xl cursor-pointer transition duration-300 ease-in-out
}
